on:
  push:
  pull_request:

name: lintr

jobs:
  lint:
    runs-on: macOS-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v1
        with:
          use-public-rspm: true

      - name: Install lintr
        run: |
          install.packages("remotes")
          remotes::install_github("r-lib/lintr")
        shell: Rscript {0}

      - name: Lint
        shell: Rscript {0}
        run: |
          lintr::lint_dir()
          quit(save = "no", status = length(lintr::lint_dir()))
